* {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
}

.banner-item {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: delay 10s infinite;
}

@keyframes delay {
    0%, 25% {opacity: 1;}

    26%, 100% {opacity: 0;}
}

.banner-item {
    width: 100%;
    height: 400px;
    z-index: 0;
}

.item1 {
    background-color: red;
    animation-delay: 0s;
}

.item2 {
    background-color: blue;
    animation-delay: 2s;
}

.item3 {
    background-color: yellow;
    animation-delay: 4s;
}

.item4 {
    background-color: green;
    animation-delay: 6s;
}

.item5 {
    background-color: purple;
    animation-delay: 8s;
}